<h1>Reviews de <%= @restaurant.name %></h1>

<ul>
  <% @reviews.each do |review| %>
    <li><%= review.content %></li>
    <li><%= review.rating %></li>
  <% end %>
</ul>

<hr>
<%= link_to "ajouter une review", new_restaurant_review_path(@restaurant) %>

